
@import "../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

body * {
font-family: 'Roboto', sans-serif !important; 
}

input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 80%;
	height: 40px;
	padding-left: 15px;
	background-color: #eee;
}
	      
#imageGallery{
	margin: auto;
	width: 70%;
}

.MuiTab-label-*{
	text-decoration: none;
	color: rgb(255, 255, 255)
}


table {
	border: 1px solid black;
}

.dark_border{
	border-style: solid;
	border-color: pink;
	border-width: 15px;
}
.light_border{
	border-style: solid;
	border-color: yellow;
	border-width: 15px;
}
.border1{
	border-style: solid;
	border-color: lightblue;
	border-width: 15px;
}
.border2{
	border-style: solid;
	border-color: orange;
	border-width: 15px;
}
a{
	text-decoration: none;
}

p{
	text-indent: 25px;
}

#home { 
	#card {
		margin-left: 50px;
		margin-right: 50px;
		padding: 60px;
		background-color: peachpuff;
	}
}